* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.container {
  border: 2px solid red;
  width: 60%;
  margin: 0 auto;
}
.container .questionBtn {
  width: 100%;
  padding: 1em;
  border: none;
  outline: none;
  cursor: pointer;
}
.container .questionBtn:hover {
  background-color: gray;
}
.container .answer-container {
  transition: all 0.5s ease-in-out;
  height: 0;
}
.container .answer-container:target {
  height: 50px;
}