* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

//  Colors
$White: hsl(0, 0%, 100%);
$Light-pink: hsl(275, 100%, 97%);
$Grayish-purple: hsl(292, 16%, 49%);
$Bright-purple: hsl(292, 88%, 48%);
$Dark-purple: hsl(292, 42%, 14%);

section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url("/assets/images/background-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-color: $Light-pink;
  background-size: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  margin-right: 1.5em;
  margin-left: 1.5em;
  background-color: $White;
  padding: 1em 2em 0em 2em;
  border-radius: 8px;
  max-width: 550px;

  .star-faq {
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-top: 0.5em;

    h2 {
      font-weight: 700;
      font-size: 2.3rem;
      color: $Dark-purple;
    }

    .star {
      width: 26px;
    }
  }

  .question-container {
    border-bottom: 1px solid $Light-pink;
  }

  .question-container:last-child {
    border-bottom: none;
  }

  button {
    text-align: left;
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $White;
    outline: none;
    border: none;
    color: $Dark-purple;
    font-size: 1.03rem;
    font-weight: 600;
    gap: 0.1em;

    &:hover {
      color: $Bright-purple;
    }
  }

  .dropdown-text {
    display: none;
    font-size: 0.9rem;
    font-weight: 400;
    color: $Grayish-purple;
    line-height: 1.2rem;
    padding-bottom: 1.5em;
  }
}

.active {
  display: block;
}

@media ((max-width: 1000px) and (orientation: landscape)) {
  section {
    height: auto;
  }
}

@media (min-width: 376px) {
  section {
    padding: 2em;
  }

  .container {
    margin: 0 auto;
  }
}

@media (min-width: 540px) {
  section {
    background-image: url("/assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
  }

  .container {
    padding-bottom: 1em;

    .dropdown-text {
      font-size: 1rem;
    }
  }
}

@media (max-width: 280px) {
  section {
    padding-bottom: 2em;
    padding-top: 2em;
  }
}

@media (min-width: 1000px) {
  .container {
    .star-faq {
      .star {
        width: 35px;
      }
    }
  }
}
